* {
  margin: 0;  
}


body{
    background: rgb(43,126,196);
    background: linear-gradient(90deg, rgba(43,126,196,1) 0%, rgba(92,29,147,1) 47%, rgba(248,0,255,1) 100%);
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#banner {
    width: 100%;

}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

div {
    color:white ;
    font-size: 35px;
    text-align: justify;
    width: 85%;
    margin: auto;

}